<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitToHelp</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!--Google font added-->
    <script defer src="/javascript/customStyleFunctions.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">        
</head>
<body id="dashboard">
  <div class='wrapper'>    
    <div class="menu">
      <a href="/" class="logo">HabitToHelp</a>
      <div class="rightTopMenu">
        <div class="dashboardMenu Left">   
              <%- include("globalElements/header") %>     
        </div>     
        <div class="dashboardMenu Right">
            <a id="profileInformations" href="#">
                <img src="/images/profileImg.png" alt="profileImg" />
            </a>
        </div>  
        <a href="#" id="signOut">Sign out</a>      
      </div>
    </div>
    <div class="container">    
      <h1>Dashboard</h1>
          <h2> Habits </h2>
          <ul>
            <% habits.forEach(function(habit){ %>
              <% if(habit.category ==='bad'){ %>
                <div class="habitListBox">
                  <li class=" testHabit categoryBad" onclick="addActiveId()"><%= habit.habitName %></li>
                  </div>
                  <% } else{ %>  
                    <div class="habitListBox">
                      <li class="testHabit" onclick="addActiveId()" value="<%= habit.habitName %>"><%= habit.habitName %></li>
                      </div> 
                 <% } %>
            <% }); %>
          </ul>
          <!--html form til oprettelse ad habit + action-->

    <div class="createHabit">
        <h2>Create new habit </h2>
        <form action="/dashboard" method="POST" id="habitForm">
          <label for=habitName>Habit name:</label>
          <input type="text" name="habitName" id="habitName" placeholder="E.g. Running">
          <label for="habitDescription">Habit description:</label>
          <textarea id="habitDescription" name="habitDescription" rows="4" cols="50" placeholder="E.g. Your goal or purpose for this habit."></textarea>
          <div class="categoryContainer">
            <label for=“category”>Choose a category:</label>
            <select name="category" id="category" form="habitForm">
              <option value="good">Good</option>
              <option value="bad">Bad</option> 
            </select> 
          </div>
           <div class="frequencyContainer">
              <label for=“frequency”>Choose a frequency:</label>
              <select name="frequency" id="frequency" form="habitForm">
                <option value="daily">Daily</option> 
                <option value="weekly">Weekly</option> 
                <option value="monthly">Monthly</option> 
              </select> 
            </div>
            <div class="dateContainer">
              <label for=“startDate”>Choose starte date:</label>
             <input type="date" id="startDate" name="startDate">
            </div>
            <button type="submit">ADD</button>
        </form>
    </div>
    </div>
  </div>   
</div>      
<%- include("globalElements/footer") %>
</body>
</html>