<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitToHelp</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!--Google font added-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"></head>        
    <!--Script js-->
    <script type="text/javascript" src="/javascript/customStyleFunctions.js"></script>

</head>
<body>
  <div class='wrapper'>    
    <div class="menu">
      <a href="/" class="logo">HabitToHelp</a>
      <div class="rightTopMenu">
        <span>Already have an account?</span>
          <form action="/" id="createAccountButton" method="GET">
            <button id="createAccountButton">Sign in</button>
          </form>
      </div>
    </div>
    <div class='container'>    
      <div class='main left' id="signup">
        <div class="wrapperLeft">
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.</p>
        </div>
      </div>
      
    <div class='main right'>
      <div class="wrapperRight">
        <h1 class="logo">Sign up for HabitToHelp</h1>
        <p>Please sign up for start track your habits.</p>
        <section> 
          <form action="/signup/signUpSuccess" method="POST">
            <div class="form-group" id="signup">
              <input
                type="name"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Name"
                value="<%= typeof name != 'undefined' ? name : '' %>"
                oninvalid="this.setCustomValidity('Please Enter Name Here')"
                oninput="this.setCustomValidity('')" 
                required
              />
              <input
                type="username"
                id="username"
                name="username"
                class="form-control"
                placeholder="Enter UserName"
                value="<%= typeof username != 'undefined' ? username : '' %>"
                oninvalid="this.setCustomValidity('Please Enter User Name Here')"
                oninput="this.setCustomValidity('')"
                required
              />
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
                oninvalid="this.setCustomValidity('Please Enter E-mail Here')"
                oninput="this.setCustomValidity('')" 
                required
              />
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Create Password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
                pattern="^\S{6,}$"
                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_confirm.pattern = this.value;" 
                required
                minlength="6"
              />
              <input
                type="password"
                id="password_confirm"
                name="password_confirm"
                class="form-control" 
                placeholder="Confirm Password"
                value="<%= typeof password_confirm != 'undefined' ? password_confirm : '' %>"
                pattern="^\S{6,}$"
                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password"
                required
                minlength="6"
              />
            <div>
            <button type="submit" id="signup">
              Register
            </button>
          </form>
        </section>
      </div>
    </div>
  </div>   
</div>      
<%- include("globalElements/footer") %>
</body>
</html>

