<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    
  <div class='container'>
    
     <div class='main left'>
       <img class="main_img" src="/images/indexImg.jpg" alt="">
     </div>
     
      <div class='main right'>

          <section> 
            <form action="/signup" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="name"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Name"
                value="<%= typeof name != 'undefined' ? name : '' %>"
              />
            </div>

            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="username"
                id="username"
                name="username"
                class="form-control"
                placeholder="Enter UserName"
                value="<%= typeof username != 'undefined' ? username : '' %>"
              />
            </div>


            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Create Password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="password_confirm">Confirm Password</label>
              <input
                type="password"
                id="password_confirm"
                name="password_confirm"
                class="form-control"
                placeholder="Confirm Password"
                value="<%= typeof password_confirm != 'undefined' ? password_confirm : '' %>"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </form>
          </section>
        </div>
      </div>
      
      
      
      
    
    
</body>
</html>